/* root */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: .3s;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
  font-style: italic;
  color: #e90;
  cursor: pointer;
  text-decoration: none;
}

p {
  color: #333;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

/* Header */
.header {
  display: flex;
  background-color: #444;
}