*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: .3s;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  font-size: 1.6rem;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}